# ~/.bashrc: executed by bash(1) for interactive shells.

# User dependent .bashrc file

# If not running interactively, don't do anything
[[ "$-" != *i* ]] && return

# Shell Options
#
# Make bash append rather than overwrite the history on disk
shopt -s histappend

<% if @pre_paths -%>
PATH=<%= @pre_paths.join(':') -%>:$PATH
<% end -%>
<% if @post_paths -%>
PATH=$PATH:<%= @post_paths.join(':') -%>
<% end -%>

# Vi command line editing mode
set -o vi

# History Options
#
# Don't put duplicate lines in the history.
export HISTCONTROL=$HISTCONTROL${HISTCONTROL+,}ignoredups

# Ignore some controlling instructions
# HISTIGNORE is a colon-delimited list of patterns which should be excluded.
# The '&' is a special pattern which suppresses duplicate entries.
# export HISTIGNORE=$'[ \t]*:&:[fb]g:exit'
export HISTIGNORE=$'[ \t]*:&:[fb]g:exit:ls' # Ignore the ls command as well
#
# Whenever displaying the prompt, write the previous line to disk
# export PROMPT_COMMAND="history -a"
HISTSIZE=1000
HISTFILESIZE=2000

# CDPATH
#CDPATH=/etc,/home/mcampbell,/home/mcampbell/1-data/src,/home/mcampbell/WillHill/src
<% if @cd_paths -%>
CDPATH=<%= @cd_paths.join(':') -%>
<% end -%>

# check the window size after each command and, if necessary, update
# values of LINES and COLUMNS.
shopt -s checkwinsize

# make less more friendly for non-text input files. see lesspipe(1)
[ -x /usr/bin/lesspipe ] && eval "$(SHELL=/bin/sh lesspipe)"

# colours on output
S_COLORS="always"

# prompt
if [[ $COLORTERM = gnome-* && $TERM = xterm ]]  && infocmp gnome-256color >/dev/null 2>&1; then TERM=gnome-256color; fi
if tput setaf 1 &> /dev/null; then
    tput sgr0
    if [[ $(tput colors) -ge 256 ]] 2>/dev/null; then
      BASE03=$(tput setaf 234)
      BASE02=$(tput setaf 235)
      BASE01=$(tput setaf 240)
      BASE00=$(tput setaf 241)
      BASE0=$(tput setaf 244)
      BASE1=$(tput setaf 245)
      BASE2=$(tput setaf 254)
      BASE3=$(tput setaf 230)
      YELLOW=$(tput setaf 136)
      ORANGE=$(tput setaf 166)
      RED=$(tput setaf 160)
      MAGENTA=$(tput setaf 125)
      VIOLET=$(tput setaf 61)
      BLUE=$(tput setaf 33)
      CYAN=$(tput setaf 37)
      GREEN=$(tput setaf 64)
    else
      BASE03=$(tput setaf 8)
      BASE02=$(tput setaf 0)
      BASE01=$(tput setaf 10)
      BASE00=$(tput setaf 11)
      BASE0=$(tput setaf 12)
      BASE1=$(tput setaf 14)
      BASE2=$(tput setaf 7)
      BASE3=$(tput setaf 15)
      YELLOW=$(tput setaf 3)
      ORANGE=$(tput setaf 9)
      RED=$(tput setaf 1)
      MAGENTA=$(tput setaf 5)
      VIOLET=$(tput setaf 13)
      BLUE=$(tput setaf 4)
      CYAN=$(tput setaf 6)
      GREEN=$(tput setaf 2)
    fi
    BOLD=$(tput bold)
    RESET=$(tput sgr0)
else
    # Linux console colors. I don't have the energy
    # to figure out the Solarized values
    MAGENTA="\033[1;31m"
    ORANGE="\033[1;33m"
    GREEN="\033[1;32m"
    PURPLE="\033[1;35m"
    WHITE="\033[1;37m"
    BOLD=""
    RESET="\033[m"
fi

PS1="\[${BOLD}${<%=@prompt_colour-%>}\]\u\[$BASE0\]@\[$CYAN\]\h \[$BLUE\]\w\[$BASE0\]\$([[ -n \$(git branch 2> /dev/null) ]] )\[$YELLOW\]\$(__git_ps1)\[$BASE0\]\n\$ \[$RESET\]"

# Aliases
# Interactive operation...
#alias rm='rm -I'
alias cp='cp -i'
alias mv='mv -i'


alias mkdir='mkdir -pv'
alias update='sudo apt-get update && sudo apt-get upgrade'
alias sudo='sudo -i'

# Default to human readable figures
alias df='df -h'
alias du='du -h'

# Misc :)
alias grep='grep --color'                     # show differences in colour
alias egrep='egrep --color=auto'              # show differences in colour
alias fgrep='fgrep --color=auto'              # show differences in colour
alias ps='ps faux'
alias pg='ps aux | grep'
alias gp='grep -IR'
gpe() {
  vim `grep -IR "$1"`
}

# do a puppet run
alias pup='sudo sh -c "cd /etc/puppet; git pull; ./run.sh work workstation desktop"'

# Some shortcuts to move around directories
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias .4='cd ../../../..'
alias .5='cd ../../../../..'

alias apt-get='sudo apt-get'

# Some shortcuts for different directory listings
alias ls='ls -hF --color=tty'                 # classify files in colour
alias dir='ls --color=auto --format=vertical'
alias vdir='ls --color=auto --format=long'
alias ll='ls -l'                              # long list
alias la='ls -A'                              # all but . and ..
alias l='ls -CF'                              #

alias v='vim'
alias vi='vim'

# show a caledar for the whole year
alias cals='cal `date "+%Y"`'

# git

alias ga='git add'
alias gaa='git add .'
alias gaaa='git add --all'
alias gau='git add --update'
alias gb='git branch'
alias gbd='git branch --delete '
alias gc='git commit'
alias gcm='git commit --message'
alias gcf='git commit --fixup'
alias gco='git checkout'
alias gcob='git checkout -b'
alias gcom='git checkout master'
alias gcos='git checkout staging'
alias gcod='git checkout develop'
alias gd='git diff'
alias gda='git diff HEAD'
alias gi='git init'
alias gm='git merge --no-ff'
alias gma='git merge --abort'
alias gmc='git merge --continue'
alias gpsh='git push'
alias gp='git pull'
alias gpr='git pull --rebase'
alias gr='git rebase'
alias gs='git status'
alias gss='git status --short'
alias gst='git stash'
alias gsta='git stash apply'
alias gstd='git stash drop'
alias gstl='git stash list'
alias gstp='git stash pop'
alias gsts='git stash save'
alias gld='git log --pretty=format:"%h %ad %s" --date=short --all'
alias glg='git log --graph --abbrev-commit --decorate --date=relative --format=format:"%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)" --all'
alias gitll='git log --graph --abbrev-commit --decorate --format=format:"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n""          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)" --all'
# ----------------------
# Git Functions
# ----------------------
# Git log find by commit message
function glf() { git log --all --grep="$1"; }

# A command to see which functions I use the most
alias hist_stats='history | cut -c8- | sort | uniq -c | sort -nr | head -n10'
alias h='history'
alias j='jobs -l'

alias x='xclip'
alias xo='xclip -o'

alias upd='echo "cd /etc/puppet; git pull; ./run.sh work workstation desktop" | sudo sh'

alias cxhealth='awk '\''$(NF-1) ~ /running/ { print $2 }'\'' | while read h;
do
  SRVPORT=7271;
  JQ_FILTER=".info.version.version";
  if [[ ${h} =~ pr[fi] ]]; then
    SRVPORT=7281;
  elif [[ ${h} =~ "wsc01" ]]; then
    SRVPORT=80;
    JQ_FILTER=".info.version"
  fi; echo -n "${h} =====> "; curl -s -H '\''Host: sportsbook'\'' http://${h}:${SRVPORT}/healthcheck | jq ${JQ_FILTER}; done'

# Umask
#
# /etc/profile sets 022, removing write perms to group + others.
# Set a more restrictive umask: i.e. no exec perms for others:
# umask 027
# Paranoid: neither group nor others have any perms:
# umask 077

# Functions
#
# Some people use a different file for functions
# if [ -f "${HOME}/.bash_functions" ]; then
#   source "${HOME}/.bash_functions"
# fi
#
# Some example functions:
#
# a) function settitle
# settitle ()
# {
#   echo -ne "\e]2;$@\a\e]1;$@\a";
# }
#
# b) function cd_func
# This function defines a 'cd' replacement function capable of keeping,
# displaying and accessing history of visited directories, up to 10 entries.
# To use it, uncomment it, source this file and try 'cd --'.
# acd_func 1.0.5, 10-nov-2004
# Petar Marinov, http:/geocities.com/h2428, this is public domain
cd_func ()
{
   local x2 the_new_dir adir index
   local -i cnt

   if [[ $1 ==  "--" ]]; then
     dirs -v
     return 0
   fi

   the_new_dir=$1
   [[ -z $1 ]] && the_new_dir=$HOME

   if [[ ${the_new_dir:0:1} == '-' ]]; then
     #
     # Extract dir N from dirs
     index=${the_new_dir:1}
     [[ -z $index ]] && index=1
     adir=$(dirs +$index)
     [[ -z $adir ]] && return 1
     the_new_dir=$adir
   fi

   #
   # '~' has to be substituted by ${HOME}
   [[ ${the_new_dir:0:1} == '~' ]] && the_new_dir="${HOME}${the_new_dir:1}"

   #
   # Now change to the new dir and add to the top of the stack
   pushd "${the_new_dir}" > /dev/null
   [[ $? -ne 0 ]] && return 1
   the_new_dir=$(pwd)

   #
   # Trim down everything beyond 11th entry
   popd -n +11 2>/dev/null 1>/dev/null

   #
   # Remove any other occurence of this dir, skipping the top of the stack
   for ((cnt=1; cnt <= 10; cnt++)); do
     x2=$(dirs +${cnt} 2>/dev/null)
     [[ $? -ne 0 ]] && return 0
     [[ ${x2:0:1} == '~' ]] && x2="${HOME}${x2:1}"
     if [[ "${x2}" == "${the_new_dir}" ]]; then
       popd -n +$cnt 2>/dev/null 1>/dev/null
       cnt=cnt-1
     fi
   done

   ls
   return 0
}
alias cd=cd_func

#Translate a Word  - USAGE: translate house spanish  # See dictionary.com for available languages (there are many).
translate ()
{
  lynx -dump "http://www.vocabulix.com/translation/${2}/${1}.html" | awk "{if (lines > 0) {print; --lines; }} /Translation of ${1} in ${B[@]^}/{lines = 10;} /Translation by Vocabulix/{exit;}" | sed '$d' > /tmp/templookup.txt
lynx -dump "http://www.vocabulix.com/translation/${2}/${1}.html" | awk "{if (lines > 0) {print; --lines; }} /Sample sentences/{lines = 10; print;} /dic_ad/{exit;}" | sed '$d' | tr -d '\n' >> /tmp/templookup.txt
    if [[ -s  /tmp/templookup.txt ]] ;then
      until ! read response
        do
        echo "${response}"
        done < /tmp/templookup.txt
      else
        echo "Sorry $USER, I can't find the term \"${1} \""
    fi
  echo '\n'
  rm -f /tmp/templookup.txt
}

# Define a word - USAGE: define dog
define ()
{
  lynx -dump "http://www.google.com/search?hl=en&q=define%3A+${1}&btnG=Google+Search" | awk '{if (lines > 0) {print; --lines; }} /Wiki/{lines = 10;} /http/{exit;}' | sed '$d' | tr -d '\n'> /tmp/templookup.txt
  if [[ -s  /tmp/templookup.txt ]] ;then
    until ! read response
      do
      echo "${response}"
      done < /tmp/templookup.txt
    else
      echo "Sorry $USER, I can't find the term \"${1} \""
  fi
  echo '\n'
  rm -f /tmp/templookup.txt
}

#Make a directory and go there
mcd() {
  mkdir -p $1
  cd $1
}
calc () {
  bc -l <<< "$@"
}

#git prompt
source ~/bin/git-prompt.sh

export GIT_PS1_SHOWDIRTYSTATE='yes'
export GIT_PS1_SHOWUNTRACKEDFILES='yes'
# If you would like to see the difference between HEAD and its upstream,
# set GIT_PS1_SHOWUPSTREAM="auto".  A "<" indicates you are behind, ">"
# indicates you are ahead, "<>" indicates you have diverged and "="
# indicates that there is no difference. You can further control
# behaviour by setting GIT_PS1_SHOWUPSTREAM to a space-separated list
# of values:
#
#     verbose       show number of commits ahead/behind (+/-) upstream
#     name          if verbose, then also show the upstream abbrev name
#     legacy        don't use the '--count' option available in recent
#                   versions of git-rev-list
#     git           always compare HEAD to @{upstream}
#     svn           always compare HEAD to your SVN upstream
export GIT_PS1_SHOWUPSTREAM='name'

#keychain
if [ -x /usr/bin/keychain ]
then
  keychain --lockwait 500 --quiet --quick ~/.ssh/id_rsa
  source ~/.keychain/${HOSTNAME}-sh
fi

if [ -x /usr/games/fortune ]
then
  fortune | ponysay
  #fortune | pokemonsay
fi
