[remmina]
disableclipboard=0
ssh_auth=0
clientname=
quality=0
ssh_charset=
ssh_privatekey=
sharesmartcard=0
resolution=
group=
password=<%= @pass %>
name=<%= @name %>
ssh_loopback=0
shareprinter=0
ssh_username=
ssh_server=
security=
protocol=RDP
execpath=
sound=off
exec=
ssh_enabled=0
username=<%= @user %>
sharefolder=
console=0
domain=WHGROUP
server=<%= @server %>
colordepth=8
window_maximize=0
window_height=1179
window_width=862
viewmode=1
