# This file is for usage with in a NOC environment
## Ensure that the D-Bus Communication System is running properly to fix
## File management, authentication, and other essential system processes

if which dbus-launch >/dev/null && test -z "$DBUS_SESSION_BUS_ADDRESS"; then
    eval "$(dbus-launch --sh-syntax --exit-with-session)"
fi

## Ensure that GTK themes are applied uniformly in the Desktop Environment

#export GTK2_RC_FILES="$HOME/.gtkrc-2.0"
<% if @xrandr -%>
# change screen layout
<%= @xrandr -%>
<% end -%>

# turn of power savings
xset -dpms

# get colours right
[[ -r ~.Xresources ]] && xrdb -load ~/.Xresources

numlockx &

# Let's start the programs
####
# Christmas
#chromium-browser --new-window --temp-profile --app=https://youtu.be/yamiiGk6aSs &
#chromium-browser --new-window --temp-profile --app=https://youtu.be/yamiiGk6aSs &
#chromium-browser --new-window --temp-profile --app=https://youtu.be/yamiiGk6aSs &
#chromium-browser --new-window --temp-profile --app=https://youtu.be/yamiiGk6aSs &
####

####
# Normal
chromium-browser --new-window --temp-profile --app=https://10.210.163.20/view/All/builds &
chromium-browser --new-window --temp-profile --app=http://zoltan-brs.pp1.williamhill.plc:9955/log &
chromium-browser --new-window --temp-profile --app=http://zoltan-brs.pp2.williamhill.plc:9955/log &
chromium-browser --new-window --temp-profile --app=http://zoltan-brs.pp3.williamhill.plc:9955/log &
chromium-browser --new-window --temp-profile --app=https://10.210.163.20/orbismon/Controller?mode=PP1&textSize=SMALL&all=true&otcache=false &
chromium-browser --new-window --temp-profile --app=https://10.210.163.20/orbismon/Controller?mode=PP2&textSize=SMALL&all=true&otcache=false &
chromium-browser --new-window --temp-profile --app=https://10.210.163.20/orbismon/Controller?mode=PP3&textSize=SMALL&all=true&otcache=false &
chromium-browser --new-window --temp-profile --app=https://williamhill.service-now.com/forward_schedule_calendar_channel.do &
chromium-browser --new-window --temp-profile --app=http://10.180.18.93:8080/job/Environment_Check_PP3_Desktop/ &
####

# start WM
exec awesome
