## Ensure that the D-Bus Communication System is running properly to fix
## File management, authentication, and other essential system processes

if which dbus-launch >/dev/null && test -z "$DBUS_SESSION_BUS_ADDRESS"; then
    eval "$(dbus-launch --sh-syntax --exit-with-session)"
fi

## Ensure that GTK themes are applied uniformly in the Desktop Environment

#export GTK2_RC_FILES="$HOME/.gtkrc-2.0"
<% if @xrandr -%>
# change screen layout
<%= @xrandr -%>
<% end -%>

# William Hill no longer allow access to dropbox or Google drive
# Dropbox daemon
#~/.dropbox-dist/dropboxd &

# get colours right
[ -r ~/.Xresources ] && xrdb -load ~/.Xresources

# start vrome server so we can have vim as chromium editor
# nohup vrome > /dev/null &
nohup cvim_server.py >/dev/null 2>&1 &

#screensaver
xscreensaver -nosplash &

numlockx &

# we gonna do some work ??

xterm -name 'welcome' &
xterm -name 'welcome' &
xterm cmatrix -b&

#make the cat follow the mouse
oneko -tofocus -speed 15&
oneko -tofocus -speed 10&

/usr/bin/chromium-browser &
/usr/bin/chromium-browser --profile-directory=Default --app-id=bgjohebimpjdhhocbknplfelpmdhifhd &

<% if @role == 'laptop' -%>
nm-applet &
<% end -%>

# start the multiple madness
# Turning off. There are errors during start up and we are not using it.
synergys -d WARNING &
#
#set backdrop
/usr/bin/feh --bg-scale --no-xinerama /home/mcampbell/1-data/2-img

#Open chat client
franz &

# start WM
awesome

